{% extends "base.html" %}

{% block title %}Home | {% endblock %}

{% block tags %}{% include "blog/tags.html" %}{% endblock %}

{% block body %}
	{% if tag %}
	<h1 class="mb-3">Posts tagged with "{{ tag.name }}"</h1>
	{% endif %}

	{% if latest_post_list %}
		{% for post in latest_post_list %}
		<div class="card mb-3">
			<div class="card-body">
				<h5 class="card-title"><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h5>
				<h6 class="card-subtitle text-muted mb-2">{{ post.snippet }}</h6>
				<p class="card-text">{{ post.content|truncatewords:20 }}</p>
			</div>
		</div>
		{% endfor %}

		{% else %}
		<p>No posts available</p>
		{% endif %}

{% endblock %}