<!DOCTYPE html>
<!-- Look up Modernizer - referring to no-js class -->
<html lang="en" class="no-js"> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	{% include "meta_name.html" %}

	<title>{% block title %}{% endblock %}Missy Anne's Poetry</title>

	{% include "meta_property.html" %}

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
	<!-- Modify these files -->
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<!-- Bootstrap CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<!-- Remix Icons -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/remixicon.css' %}">

</head>

<body id="page-top">
	<!-- Nav -->
    {% include "navbar.html" %}
    <br>

	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<section id="tags">{% block tags %}{% endblock %}</section>
			</div>
			<div class="col-6">
				{% block body %}{% endblock %}
			</div>
			<div class="col-4">
				<section id="favs">
					<h3>User Favs</h3>
					{% block user_favs %}{% endblock %}
				</section>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="py-2 bg-dark fixed-bottom">
		<div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Watisys</p></div>
	</footer>

	<!-- Bootstrap with Popper -->
	<script src="{% static 'css/bootstrap.min.js' %}" type="text/css" rel="stylesheet"></script>

</body>

</html>
