<nav>
	<div class="container-fluid bg-dark text-white">
		<div class="row">

			<div class="col"><a href="{% url 'blog:list' %}">Logo Home</a></div>

    		<div class="col-md-4">
    			<div class="input-group rounded">
    				<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
    				<span class="input-group-text border-0" id="search-addon">
    					<i class="fas fa-search"></i>
    				</span>
    			</div>
			</div>
    		<div class="col">About Us Button</div>
		</div>
	</div>
</nav>