<!DOCTYPE html>
<!-- Look up Modernizer - referring to no-js class -->
<html lang="en" class="no-js"> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Sanchit Kumar" />
    <meta name="keywords" content="Poetry, Poem">
    <meta name="description" content="Online Poetry blog for Rachel Bailey">

	<title>{% block title %}{% endblock %}Missy Anne's Poetry</title>

	<!-- Meta Property -->
	<meta property="og:title" content="A Basic HTML5 Template">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://www.sitepoint.com/a-basic-html5-template/">
	<meta property="og:description" content="A simple HTML5 Template for new projects.">

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
	<!-- Modify these files -->
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<!-- Bootstrap CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<!-- Remix Icons -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/remixicon.css' %}">

</head>

<body id="page-top">
	<!-- Nav -->
    <nav>
    	<div class="container-fluid bg-dark text-white">
    		<div class="row">
    			<div class="col">Logo</div>
	    		<div class="col col-md-8">Search Bar</div>
	    		<div class="col">About Us</div>
    		</div>
    	</div>
    </nav>

	<div class="container">
		<div class="row">
			<div class="col-2">
				<section>
					Tags
				</section>
			</div>
			<div class="col-8">
				{% block body %}{% endblock %}
			</div>
			<div class="col-2">
				<section>
					User favs
				</section>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Watisys</p></div>
	</footer>

	<!-- Bootstrap with Popper -->
	<script src="{% static 'css/bootstrap.min.js' %}" type="text/css" rel="stylesheet"></script>

</body>

</html>
