<!DOCTYPE html>
<!-- Look up Modernizer - referring to no-js class -->
<html lang="en" class="no-js"> 

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %}{% endblock %}Missy Anne's Poetry</title>

	{% load static %}
	<!-- Bootstrap CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<!-- Remix Icons -->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/remixicon.css' %}">
</head>


<body>
	<!-- Nav -->
	<nav class="navbar">
		<div class="row">
			<div class="col">Insert logo here</div>
			<div class="col">Search bar</div>
			<div class="col">Theme Button</div>
		</div>
	</nav>


	<!-- Header Bar -->
	<header class="container">
		<a href="#">Image</a>

	</header>

	<h1 class="container">Title</h1>

	{% block body %}{% endblock %}

	<!-- Footer -->
	<footer>
		<a href="#">About</a>
		<a href="#">Contact</a>
	</footer>

	<!-- Bootstrap with Popper -->
	<script src="{% static 'css/bootstrap.min.js' %}" type="text/css" rel="stylesheet"></script>

</body>

</html>
